@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: #1E1E1E;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}
footer {
    background: #262943;
}
ul {
    padding: 0;
    list-style-type: none;
}
a {
    color: #ffffff;
    text-decoration: none;
}

.text {
    padding: 0;
}
.footer-content {
    padding-top: 70px;
    padding-bottom: 35px;
}
.buttons {
    margin: 0;
    border-radius: 12px;
}
.button-1 {
    background-color: #5F005F;
    padding: 21px;
}
.button-2 {
    border: 2px solid #FFFFFF;
    padding: 21px 6px;
}
.info {
    width: 290px;
    display: flex;
    font-size: 18px;
    line-height: 23.4px;
}
.icon {
    margin-right: 15px;
}
.address {
    background-image: url('./images/address.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 20px;
    width: 16px;
    height: 20px;
}
.address-text {
    padding-bottom: 57px;
}
.tel {
    background-image: url('./images/tel.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 20px;
    width: 16px;
    height: 20px;
}
.tel-text {
    padding-bottom: 15px;
}
.email {
    background-image: url('./images/email.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 20px;
    width: 20px;
    height: 20px;
}
.info-link {
    padding-top: 38px;
    color: #D2D2D2;
    font-size: 18px;
}
.list {
    padding: 0;
}
.left {
    padding: 0;
}

@media screen and (min-width: 320px) {
    .header {
        font-size: 16px;
    }
    .logo {
        padding-top: 14px;
        padding-bottom: 28px;
    }
    .text {
        padding-bottom: 20px;
    }
    .text:last-child {
        padding-bottom: 0;
    }
    .title {
        margin-top: 26px;
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 19.8px;
    }
    .footer {
        margin-top: 70px;
    }
    .footer-content {
        padding-top: 30px;
        justify-content: flex-start;
        gap: 20px;
    }
    .left {
        padding-left: 22px;
    }
    .footer-button {
        justify-content: center;
        gap: 10px;
    }
    .about-text {
        padding-bottom: 15px;
    }
    .logo-footer {
        width: 150px;
        height: 30px;
    }
}

@media screen and (min-width: 576px) {
    .header {
        font-size: 24px;
    }
    .logo {
        padding-top: 20px;
        padding-bottom: 45px;
    }
    .title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 26px;
    }
    .text {
        font-size: 14px;
        line-height: 18.2px;
    }
    .footer {
        margin-top: 83px;
    }
    .left {
        padding-left: 20px;
    }
    .footer-content {
        flex-direction: column;
        padding-top: 40px;
    }
    .footer-button {
        margin-top: 20px;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 768px) {
    .header {
        font-size: 28px;
    }
    .logo {
        padding-top: 23px;
        padding-bottom: 75px;
    }
    .title {
        margin-top: 38px;
        font-size: 22px;
        line-height: 24.2px;
    }
    .text {
        font-size: 16px;
        line-height: 20.8px;
    }
    .footer {
        margin-top: 81px;
    }
    .footer-content {
        align-items: center;
        flex-direction: row;
    }
    .footer-button {
        justify-content: flex-end;
    }
}
@media screen and (min-width: 992px) {
    .header {
        font-size: 32px;
    }
    .logo {
        padding-top: 34px;
    }
    .title {
        margin-top: 48px;
        font-size: 26px;
        line-height: 28.6px;
    }
    .text {
        font-size: 18px;
        line-height: 23.4px;
    }
    .footer {
        margin-top: 167px;
    }
    .logo-footer {
        width: 255px;
        height: 51px;
    }
    .info {
        padding-left: 22px;
    }
}
@media screen and (min-width: 1440px) {
    .header {
        font-size: 44px;
    }
    .title {
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 33px;
    }
    .footer {
        margin-top: 187px;
    }
    .copyright {
        font-size: 16px;
        line-height: 20.8px;
    }
    .left {
        width: 34%;
    }
    .info {
        padding-left: 0;
    }
}